  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <img id="fox-logo" src="https://i.imgur.com/MEmp9pd.png" alt="Fox" width="100">
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          id = "profile-icon"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
    <% } %>
    <% if (user) { %>
      <a href="/auth/logout">
        <button id="logout" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
