  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <nav class="navbar">
    <a href="/">
      <img 
      class="fox-nav" 
      src="/images/logo/FoxIcon.png" 
      alt="Fox"
      >
    </a>

    <div class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    
    <div class="navbar-links">
        <ul>
          <li><a href="/games">All Games</a></li>
          <li><a href="/games/new">Add Game</a></li>
          <li><a href="/profiles">All Users</a></li>
          <% if (user) { %>
            <li> 
              <a href="/auth/logout">
                Logout
              </a>
            </li>
          <% } else { %>
            <a href="/auth/google" class="siwg-link">
              <button type="submit" class="siwg">
                <img id="siwg-image" alt="Sign in with Google" />
              </button>
            </a>
          <% } %>
            <% if (user?.profile.avatar) { %>
              <a href="/profiles">
                <img
                  id = "profile-icon"
                  src="<%= user.profile.avatar %>"
                  alt="<%= user.profile.name %> avatar"
                />
              </a>
            <% } %>
        </ul>
      </div>
  </nav>
