h2 {
  font-size: 4rem;
}

section {
  width: 75vw;
  height: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
}

.card-base {
  width: 200px;
  height: 260px;
  background-color: var(--log-in-hover-bg-color);
  margin: 50px;
  border-radius: 2px;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  overflow: hidden;
}

.card-container .card-base:hover {
  width: 200px;
  height: 260px;
  border-radius: 2px;
  background-color: var(--log-in-bg-color);
  margin: 50px;
  border: 2px solid white;
  box-shadow: 0 0 5px orange;
  transform: scale(1.1);
}

.content{
  width: 200px;
  height: 60px;
  border-radius: 2px;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color:black;
}

.game-bg {
  width: 200px;
  height: 200px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

.profile-link {
  text-decoration: none;
}


@media only screen and (max-width: 768px){
  section {
    width: 90vw;
  }

  h2 {
    font-size: 2rem;
  }
  
  .card-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .card-container:hover .card-base{
    filter: blur(1px);
    transform: scale(0.9);
    opacity: 0.9;
  }
  
  .card-base {
    width: 125px;
    height: 125px;
    background-color: var(--log-in-hover-bg-color);
    margin: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    overflow: hidden;
  }
  
  .card-container .card-base:hover {
    width: 125px;
    height: 125px;
    background-color: var(--log-in-bg-color);
    margin: 10px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 0 0 5px orange;
    filter: blur(0px);
    transform: scale(1.2);
    opacity: 1;
  }
  
  .content{
    display: flex;
    width: 90px;
    height: auto;
    min-height: 25px;
    border-radius: 50px;
    background-color: rgb(228, 164, 46);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 600;
    margin: 0 auto;
    margin-top: -40px;
    font-size: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .game-bg {
    width: 125px;
    height: 125px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }
}