h1 {
  margin: 0;
}

h2 {
  margin: 0;
  margin-top: 10px;
}

h3 {
  margin-top: 40px;
}

section {
  width: 350px;
  height: 125px;
  background-color: var(--soft-white);
  border: 2px solid black;
  margin-top: 20px;
}

#add-to-favorites{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

#no-favorites {
  font-size: 50px;
  margin-top: 40px;
}

#profile-image {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  box-shadow: 0 0 5px orange;
  margin-top: 5vh;
  border-radius: 2px;
}