<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="../public/stylesheets/index.css">

<main>
  <!-- <h1>hello, <%#= user ? user.profile.name : "friend" %></h1> -->
  
</main>

<%- include('./partials/footer') %>
