section {
  width: 600px;
  height: auto;
  background-color: rgb(251, 250, 245);
  border: 2px solid black;
  text-align: center;
  padding: 0 20px 10px 20px;
}

h2 {
  font-size: 4rem;
}

h5{
  margin-bottom: 10px;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fox-heading {
  height: 10rem;
  width: 10rem;
  margin-left: 20px;
  margin-top: 90px;
}

#intro-body{
  font-size: 15px;
}

#log-in {
  height: 60px;
  width: 120px;
  margin-top: 5px;
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
  background-color: var(--log-in-bg-color);
  color: var(--log-in-color);
  border-radius: 3px;
  font-weight: 800;
  text-align: center;
}

#log-in:hover {
  background-color: var(--log-in-hover-bg-color);
  color: var(--log-in-hover-color);
  cursor: pointer;
}

#log-out {
  height: 60px;
  width: 120px;
  margin-top: 5px;
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
  background-color: var(--log-out-bg-color);
  color: var(--log-out-color);
  border-radius: 3px;
  font-weight: 800;
  text-align: center;
}

#log-out:hover {
  background-color: var(--log-out-hover-bg-color);
  color: var(--log-out-hover-color);
  cursor: pointer;
}

@media only screen and (max-width: 768px){
  section {
    width: 80vw;
    margin-top: -10px;
    background-color: var(--section-bg-color);
    border: 2px solid black;
    text-align: center;
    padding: 0 20px 10px 20px;
  }

  h2 {
    font-size: 2rem;
  }

  #heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #fox-heading {
    height: 100px;
    margin-left: 10px;
    margin-top: 80px;
  }

  #intro-body{
    font-size: 11px;
  }

  #log-in {
    height: 40px;
    width: 80px;
    font-size: 16px;
  }

  #log-out {
    height: 40px;
    width: 80px;
    font-size: 16px;
  }
}