html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  --bg-color: #5f6d7a;
  --section-bg-color: white;

  --log-in-bg-color: rgb(255, 102, 0);
  --log-in-color: black;
  --log-in-hover-bg-color: rgb(255, 122, 0);
  --log-in-hover-color: black;
  --log-out-bg-color: #5f6d7a;
  --log-out-color: white;
  --log-out-hover-bg-color: #738494;
  --log-out-hover-color: white;

  --profile-border-color: rgb(255, 102, 0);

  font-family: "Fredoka", sans-serif;
  margin: 0;
  background-color: var(--bg-color);
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: right;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profile-icon {
  border: 2px solid var(--profile-border-color);
  border-radius: 50px;
  justify-self: center;
  margin-top: .2rem;
}
