<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/games/index.css">

<main>
  <h1><%= title %></h1>

  <h2>Helloooooooooooo</h2>
</main>




<%- include('../partials/footer') %>
