form {
  margin-top: 10px;
}

section {
  width: auto;
  height: auto;
  background-color: var(--soft-white);
  border: 2px solid black;
  text-align: center;
  padding: 0 20px 10px 20px;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
}

#content-textarea{
  width: 400px;
  height: 200px;
  margin-top: 5px;
}

#esrbSelect {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 5px;
}

#rating-select{
  margin: 10px 0;
  margin-top: -20px;
  margin-left: 5px;
  width: 50px;
  font-size: 22px;
}

#submit-review {
  height: 60px;
  width: 150px;
  margin: 20px 0;
  margin-bottom: 10px;
  font-family: "Fredoka", sans-serif;
  font-size: 22px;
  background-color: var(--log-in-bg-color);
  color: var(--log-in-color);
  border-radius: 3px;
  font-weight: 800;
}

#submit-review:hover {
  background-color: var(--log-in-hover-bg-color);
  color: var(--log-in-hover-color);
  cursor: pointer;
}

@media only screen and (max-width: 500px){
  h1 {
    font-size: 60px;
    padding: 0 10px;
  }

  label {
    font-size: 15px;
  }
  
  #content-textarea{
    width: 250px;
    height: 200px;
    margin-top: 5px;
    font-size: 12px;
  }
  
  #esrbSelect {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  #rating-select{
    margin: 10px 0;
    margin-top: -20px;
    margin-left: 5px;
    width: 50px;
    font-size: 22px;
  }
  
  #submit-review {
    height: 60px;
    width: 150px;
    margin: 20px 0;
    margin-bottom: 10px;
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    background-color: var(--log-in-bg-color);
    color: var(--log-in-color);
    border-radius: 3px;
    font-weight: 800;
  }
}